<div class="register">
    <div class="head">
        <h1>Register</h1>
    </div>
        <div class="form">
            <div class="input">
                <label>
                    Name
                    <br />
                    <input #name="ngModel" [(ngModel)]="model.name" type="text" minlength="7" required />
                </label>
            </div>
            <div class="input">
                <label>
                    Email
                    <br />
                    <input #email="ngModel" [(ngModel)]="model.email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                </label>
            </div>
            <div class="input">
                <label>
                    Password
                    <br />
                    <input #password="ngModel" [(ngModel)]="model.password" minlength="7" id="password" required [type]="pass" />
                    <span>
                        <input  type="checkbox" (click)="viewPassword()">
                    </span>
                    <span style="font-size: 12px">{{ pass === 'password'?'View Password':'Hide Password'}}</span>
                </label>
            </div>
            <div>
                <button [disabled]="password.invalid || email.invalid || name.invalid" (click)="register()" class="submit">Register</button>
            </div>
        </div>
</div>
