.register {
  padding-left: 2em;
  padding-right: 2em;
  .head {
    text-align: center;
  }
  .form {
    .input {
      margin-bottom: 1em;
    }
    button:disabled {
      pointer-events: none;
      background-color: lightgrey;
    }
    .submit {
      float: right;
      cursor: pointer;
      background-color: gold;
      outline: none;
      color: white;
      border-radius: 2px;
      border: none;
      padding: 1em;
    }
    input {
      width: 100%;
      border-radius: 2px;
      height: 30px;
      outline: none;
      border: 1px solid lightgrey;
    }
  }
}
.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid limegreen !important;
  border-radius: 4px !important;
}
.ng-invalid:not(form)  {
  &.ng-dirty {
    border-right: 5px solid red !important;
    border-radius: 4px !important;
  }
}
