<div class="nav">
    <div class="left">
       <span>Tracker</span>
    </div>
    <div class="right">
        <form *ngIf="!isLoggedIn">
            <label>
                <input [(ngModel)]="login.email" name="email" placeholder="email" type="email" />
            </label>
            <label>
                <input [(ngModel)]="login.password" name="password" placeholder="password" type="password"/>
            </label>
            <input (click)="loginSubmit()" class="button" type="submit" value="Login" />
            <button (click)="openRegister()" class="button">Register</button>
        </form>
        <div *ngIf="isLoggedIn" class="image">
            KK
        </div>
    </div>
</div>
<div id="modal">
    <div id="body" class="body">
        <div><button class="close" (click)="closeModal()">&times;</button></div>
        <app-register *ngIf="modalComponent === 'register'"></app-register>
    </div>
</div>
